User={{ zabbix_agent_option_user }}
PidFile={{ zabbix_agent_option_pid_file }}
LogFile={{ zabbix_agent_option_log_file }}

# ↓ `zabbix_agent_role_config_extra` ↓

{{ zabbix_agent_role_config_extra }}
